Lessons_DotNetC\#/.vs/Lessons_DotNetC\#/FileContentIndex/073804c2-2f30-44b0-be51-014fb3f2d179.vsidx
Lessons_DotNetC\#/.vs/Lessons_DotNetC\#/FileContentIndex/4420450b-aa67-4509-92a4-8c857ee263b4.vsidx
Lessons_DotNetC\#/.vs/Lessons_DotNetC\#/FileContentIndex/073804c2-2f30-44b0-be51-014fb3f2d179.vsidx
Lessons_DotNetC\#/.vs/Lessons_DotNetC\#/FileContentIndex/073804c2-2f30-44b0-be51-014fb3f2d179.vsidx
Lessons_DotNetC\#/.vs/Lessons_DotNetC\#/FileContentIndex/073804c2-2f30-44b0-be51-014fb3f2d179.vsidx
*.vsidx
*.vsidx
